<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full text-white bg-zinc-800 p-10">
      <a class="text-xl text-red-600" href="/read">Read User</a>
      <h1 class="text-xl mb-3 tracking-tighter mt-3">Create User</h1>
      <form action="/create" method="post">
        <input
          class="p-2 bg-zinc-700 rounded-lg outline-none"
          type="text"
          name="name"
          placeholder="name"
          required
        />
        <input
          class="p-2 bg-zinc-700 rounded-lg outline-none"
          type="text"
          name="email"
          placeholder="email"
          required
        />
        <input
          class="p-2 bg-zinc-700 rounded-lg outline-none"
          type="text"
          name="image"
          placeholder="image url"
          required
        />
        <button
          class="bg-blue-600 px-5 py-2 rounded-lg ml-3"
          type="submit"
          value="Create user"
        >
          Create User
        </button>
      </form>
    </div>
  </body>
</html>
